<div>

    <h2>Publications</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#savePublicationModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Publication
    </button>
    <div class="modal fade" id="savePublicationModal" tabindex="-1" role="dialog" aria-labelledby="myPublicationLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPublicationLabel">Create or edit a Publication</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="publication.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>title</label>
                            <input type="text" class="form-control"
                                   ng-model="publication.title">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="publication in publications">
                    <td>{{publication.id}}</td>
                    <td>{{publication.title}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(publication.id)"
                                class="btn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(publication.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
